{:paths ["scripts"]
 :deps {}
 :min-bb-version "0.8.156"
 :tasks {clean make/clean

         run make/run
         pom make/pom
         ;; jar make/jar
         uberjar make/uberjar

         native-cli make/native-cli
         native-trace make/native-trace

         test make/test}}
