{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.5.648"}
        cljfx/cljfx {:mvn/version "1.7.22"}}
 :aliases
 {:main {:main-opts ["-m" "clipure.main"]}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :prod-jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.211"}}
             :exec-fn hf.depstar/uberjar
             :exec-args {:aot true
                         :jar "clipure.jar"
                         :main-class "clipure.main"
                         :sync-pom true
                         :jvm-opts ["-Dcljfx.skip-javafx-initialization=true"]}}}}
