{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.5.648"}
        cljfx/cljfx {:mvn/version "1.7.22"}}
 :aliases
 {:main {:main-opts ["-m" "clipure.main"]}
  :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.70.1086"}}
         :extra-paths ["test"]
         :main-opts ["-m" "kaocha.runner"]}
  :build {:extra-paths ["resources"]
          :extra-deps {babashka/fs {:mvn/version "0.1.11"}}
          :replace-deps {io.github.clojure/tools.build {:tag "v0.8.3" :sha "0d20256"}
                         com.github.ericdallo/deps-bin {:mvn/version "0.2.0"}
                         slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build}
  :native {:jvm-opts ["-server"
                      "-Dclojure.compiler.direct-linking=true"
                      "-Dclojure.spec.skip-macros=true"]
           :extra-deps {com.github.clj-easy/graal-build-time {:mvn/version "0.1.4"}}}}}
